[Desktop Entry]
Type=Application
Name=Baresip
GenericName=SIP softphone
Comment=Modular SIP user-agent with audio and video support
Icon=call-start
Exec=baresip-qt-handler %u
Terminal=false
Categories=GNOME;GTK;Network;Telephony;
Keywords=VoIP;
StartupNotify=true
MimeType=x-scheme-handler/tel;